extends ../layouts/main

block content
  .container.mt-4(style="max-width:600px")
    h2 Assign Teacher to Course

    p
      strong Course:
      |  #{course.title}

    form(action=`/admin/courses/assign/${course.id}` method="POST")

      .mb-3
        label.form-label Select Teacher
        select.form-select(name="teacher" required)
          each t in teachers
            option(
              value=t.id
              selected=(course.instructor == t.id)
            ) #{t.name} (#{t.email})

            //- option(value=t.id selected=(t.id === course.instructor)) 
            //-   | #{t.name} (#{t.email})

      button.btn.btn-primary(type="submit") Assign
