extends ../layouts/main

block content
  .container.mt-4
    h2 Manage Courses

    a.btn.btn-primary.mb-3(href="/admin/courses/add") Add New Course

    if courses.length
      table.table.table-bordered.table-striped
        thead
          tr
            th #
            th Title
            th Description
            th Assigned Teacher
            th Created At
            th Action
        tbody
          each course,i in courses
            tr
              td #{i+1}
              td= course.title
              td= course.description
              td
                if course.teacher_name
                  | #{course.teacher_name} (#{course.teacher_email})
                else
                  | No Teacher
                  

              td= new Date(course.created_at).toLocaleDateString()
              //- td= course.teacher ? course.teacher.name : "No Teacher"
              //- td= course.createdAt.toLocaleDateString()
              td
                a.btn.btn-sm.btn-info.mr-1(href=`/admin/courses/edit/${course.id}`) Edit
                form.d-inline(action=`/admin/courses/delete/${course.id}` method="POST")
                  button.btn.btn-sm.btn-danger(type="submit" onclick="return confirm('Are you sure?')") Delete
    else
      p.mt-3 No courses found.

