extends ../layouts/main

block content
  h1 Submission: #{submission.assignment_title}
  h3 Student: #{submission.student_name}

  hr

  a.btn.btn-success(href=submission.file_url, target="_blank") Download File

  hr

  h3 Grade Student

  form(method="POST" action=`/teacher/submission/${submission.id}/grade`)
    .mb-3
      label Grade (Number)
      input.form-control(type="text" name="grade" required value=submission.grade)

    .mb-3
      label Feedback
      textarea.form-control(name="feedback") #{submission.feedback}

    button.btn.btn-primary(type="submit") Save Grade
