extends ../layouts/main

block content
  .container.mt-4
    h1 Submissions for: #{assignment.title}
    p Course: #{assignment.course_title}

    table.table.table-striped.mt-3
      thead
        tr
          th Student
          th Email
          th Submitted At
          th Grade
          th Action

      tbody
        each s in submissions
          tr
            td #{s.student_name}
            td #{s.email}
            td #{s.submitted_at}
            td #{s.grade || "Not graded"}
            td
              if s.submission_id && s.submission_id !== "undefined"
                a.btn.btn-primary.btn-sm(href=`/teacher/submission/${s.submission_id}`) View
              else
                | Not submitted

