//- extends ../layouts/main

//- block content
//-   h1 Submissions for: #{assignment.title}
//-   p Course: #{assignment.course_title}

//-   table.table.table-striped
//-     thead
//-       tr
//-         th Student
//-         th Email
//-         th Submitted At
//-         th Grade
//-         th Action
//-     tbody
//-       each s in submissions
//-         tr
//-           td #{s.student_name}
//-           td #{s.email}
//-           td #{s.submitted_at}
//-           td #{s.grade ? s.grade : "Not graded"}
//-           td
//-             a.btn.btn-primary(href=`/teacher/submission/${s.id}`) View





extends ../layouts/main

block content
  .container.mt-4
    h1 Submissions for: #{assignment.title}
    p Course: #{assignment.course_title}

    table.table.table-striped.mt-3
      thead
        tr
          th Student
          th Email
          th Submitted At
          th Grade
          th Action

      tbody
        each s in submissions
          tr
            td #{s.student_name}
            td #{s.email}
            td #{s.submitted_at}
            td #{s.grade || "Not graded"}
            td
              a.btn.btn-primary.btn-sm(href=`/teacher/submission/${s.id}`) View
